@page
@model outreach3.Pages.Missions.AddressesModel

@{
    ViewData["Title"] = "Details";
}

<h4>Addresses</h4>

<div>
    <h4>Mission</h4>
    <hr />
    
        
        @foreach (MapMarker mapMarker in Model.MissionMap.MapMarkers)
        {
            <div>@mapMarker.Label</div>
        }
             
   
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.MissionMap.MissionMapId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
