@page
@model outreach3.Pages.FollowUps.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FollowUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FollowUp.FollowUpId" />
            <div class="form-group">
                <label asp-for="FollowUp.ResidentId" class="control-label"></label>
                <select asp-for="FollowUp.ResidentId" class="form-control" asp-items="ViewBag.ResidentId"></select>
                <span asp-validation-for="FollowUp.ResidentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowUp.DateDue" class="control-label"></label>
                <input asp-for="FollowUp.DateDue" class="form-control" />
                <span asp-validation-for="FollowUp.DateDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FollowUp.Status" class="control-label"></label>
                <select asp-for="FollowUp.Status" class="form-control"></select>
                <span asp-validation-for="FollowUp.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
