@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}


<h3 class="shadowRed">An error occurred while processing your request.</h3>

@if (Model.ShowRequestId)
{
   
    <h4 class="shadowRed">Our Apologies.  Something went wrong.  An Email has been sent to the Administrator concerning this error.</h4>

    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div name="divError" id="divError">@Model.Error</div>
