@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h4>@ViewData["Title"]</h4>
<p></p>
<p class="shadow">This website does not collect or share any information with any entity other than the affiliated church and it's members that are registered. Additionally, the site does not send or retrieve cookies.  The only information retained in the site is the user login credentials used within this site.</p>
