@page
@model outreach3.Pages.ChurchGoals.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ChurchGoal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <h6>     @Model.ChurchName;</h6><hr />
                
            <div class="form-group">
                <label asp-for="ChurchGoal.Name" class="control-label"></label>
                <input asp-for="ChurchGoal.Name" class="form-control" />
                <span asp-validation-for="ChurchGoal.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchGoal.StartDate" class="control-label"></label>
                <input asp-for="ChurchGoal.StartDate" class="form-control" />
                <span asp-validation-for="ChurchGoal.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchGoal.GoalDate" class="control-label"></label>
                <input asp-for="ChurchGoal.GoalDate" class="form-control" />
                <span asp-validation-for="ChurchGoal.GoalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchGoal.NumberOfDoorsGoal" class="control-label"></label>
                <input asp-for="ChurchGoal.NumberOfDoorsGoal" class="form-control" />
                <span asp-validation-for="ChurchGoal.NumberOfDoorsGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchGoal.NumberOfConnections" class="control-label"></label>
                <input asp-for="ChurchGoal.NumberOfConnections" class="form-control" />
                <span asp-validation-for="ChurchGoal.NumberOfConnections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchGoal.NumberOfDoorsGoal" class="control-label"></label>
                <input asp-for="ChurchGoal.NumberOfDoorsGoal" class="form-control" />
                <span asp-validation-for="ChurchGoal.NumberOfDoorsGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChurchGoal.NumberOfGreetsGoal" class="control-label"></label>
                <input asp-for="ChurchGoal.NumberOfGreetsGoal" class="form-control" />
                <span asp-validation-for="ChurchGoal.NumberOfGreetsGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
