@page
@model             EditModel

@{
    ViewData["Title"] = "Edit";
}



<h4>@Model.Church.Name</h4>
<div style="text-align:right">
    <a asp-page="./Index">Return to Church List</a>
</div>
<hr />
<table class="modal-fullscreen">
    <tbody>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-4">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Church.ChurchId" />
                            <div class="form-group">
                                <label asp-for="Church.Name" class="control-label"></label>
                                <input asp-for="Church.Name" class="form-control" />
                                <span asp-validation-for="Church.Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Church.ChurchFullName" class="control-label"></label>
                                <input asp-for="Church.ChurchFullName" class="form-control" />
                                <span asp-validation-for="Church.ChurchFullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Church.ChurchAddress" class="control-label"></label>
                                <input asp-for="Church.ChurchAddress" class="form-control" />
                                <span asp-validation-for="Church.ChurchAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Church.ChurchPhone" class="control-label"></label>
                                <input asp-for="Church.ChurchPhone" class="form-control" />
                                <span asp-validation-for="Church.ChurchPhone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Church.PastorsName" class="control-label"></label>
                                <input asp-for="Church.PastorsName" class="form-control" />
                                <span asp-validation-for="Church.PastorsName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div>
                                <form method="post">
                                    <label asp-for="AllUsers" class="control-label"></label><br />
                                    <select style ="width:300px;" size="10" name="allUsers" asp-items="Model.AllUsers">
                                    </select>

                                    <div>
                                        <div>
                                            <table>
                                                <tr class="align-content-md-stretch">
                                                    <td>
                                                        <input asp-page="./Edit" name="btnAdd" asp-page-handler="Add" method="post" type="submit" value="Add" class="btn btn-primary" />
                                                    </td>
                                                    <td>
                                                        <input asp-page="./Edit" name="btnDelete" asp-page-handler="Delete" method="post" type="submit" value="Remove" class="btn btn-primary" />
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                    <div>
                                        <div>

                                            <label asp-for="SiteUsers" class="control-label"></label><br />
                                            <select style="width:300px;" size="10" name="siteUsers" asp-items="Model.SiteUsers"></select>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>

</table>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
